<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">    
    
    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
    <script src="/vendor/requirejs/require.js" data-main="/js/main"></script> 


  </body>
</html>
